.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 50px); /* adjust here */
  grid-template-rows: repeat(10, 50px); /* adjust here */
  gap: 0;
  padding: 4px;
  border-radius: 4px;
}

.gameBoard__cell {
  /* background-color: #eee; */
  background-color: transparent;
  border: 2px solid white;
}

/* Optional: Distinct border color on hover */
.gameBoard__cell:hover {
  background-color: #2563eb; /* Tailwind blue-600 */
  cursor: pointer;
}

/* Cell states */
.gameBoard__cell.ship {
  background-color: rgb(195, 249, 1);
}

.gameBoard__cell.hit {
  background-color: red;
}

.gameBoard__cell.miss {
  background-color: blue;
}

/* SETUP BOARD STYLE */
.board-setup-screen {
  background-color: rgba(26, 73, 106, 0.9);
  min-height: 40rem;
  min-width: 30rem;
  border-radius: 0.75rem;
  padding: 2rem;
}

.board-setup__ships-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  position: relative;
}

.board-setup__player-name {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #fff;
}

/* Ship section */
.board-setup__ships {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.board-setup__ship-card {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  cursor: pointer;
  width: 100px;
  height: 100px;

  cursor: grab;
}
.board-setup__ship-placeholder {
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  border-radius: 12px;
}

.board-setup__ship-card.dragging {
  position: absolute;
  z-index: 1000; /* make sure it's on top */
}
.board-setup__ship-card:active {
  cursor: grabbing;
}

.board-setup__ship-card:hover {
  transform: translateY(-5px);
}

.board-setup__ship-img {
  width: 64px;
  height: auto;
  /* margin-bottom: 0.75rem; */
}

.board-setup__ship-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
}

.board-setup {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* take full height so bottom buttons can stick */
  justify-content: space-between; /* space between top and bottom areas */
  padding: 1rem;
}

/* Axis buttons at the top */
.board-setup__axis-btn-container {
  display: flex;
  justify-content: center; /* center them above the board */
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Middle content: board + ships */
.board-setup__container {
  display: flex;
  flex: 1; /* fills available space */
  justify-content: space-between; /* pushes board left, ships right */
  align-items: flex-end; /* align top edges */
  gap: 2rem; /* spacing between board & ships */
}

/* Player board */
.board-setup__player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ships on the right */

/* Bottom buttons */
.board-setup__btn-containers {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
